.about .wrapAbout{
    width: 70%;
    height: 60vh;
    margin:0 auto;
    border:2px solid black;
    box-shadow: 10px 10px 5px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
}

.about .wrapAbout img{
    width: 350px;
    padding: 20px;
}

.about .wrapAbout p {
    padding: 30px;
    color: #fff;
    font-size: 3rem;
    line-height: 5rem;
    text-align: center;
}