ul.activeSection {
    position: fixed;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    list-style: none;
    z-index: 999 !important;
}

ul.activeSection li {
    color: white;
    font-size: 1.5rem;
    opacity: .5;
    padding: 10px 0;
    transition: .2s;
    text-align: center;
}


#activeEl {
    opacity: 1;
    font-size: 1.6rem;
}

@media screen and (max-width:1200px){
    ul.activeSection {
        right: 2%;
    }
    
    ul.activeSection li {
        font-size: 0.9rem;
        padding: 5px 0;
    }

    #activeEl {
        opacity: 1;
        font-size: 1.3rem;
    }
}

@media screen and (max-width:900px){
    .header h2{
        font-size: 5rem;
        width: 80%;
    }
}

@media screen and (max-width:700px){
    ul.activeSection {
        right: 1%;
    }
    
    ul.activeSection li {
        font-size: 0.7rem;
        padding: 5px 0;
    }

    #activeEl {
        font-size: 1rem;
    }
}

@media screen and (max-width:500px){
    ul.activeSection {
        right: 1%;
    }
    
    ul.activeSection li {
        font-size: 0.5rem;
    }

    #activeEl {
        font-size: 0.7rem;
    }
}