.authors .wrapAuthors {
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    border: 2px solid black;
    box-shadow: 10px 10px 5px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
}

.authors .wrapAuthors .author {
    width: 300px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 5px black;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
}

.authors .wrapAuthors .author img {
    width: 100px;
    border-radius: 50%;
    display: block;
}

.authors .wrapAuthors .author p.name {
    font-size: 2rem;
    color: white;
    font-style: italic;
    opacity: .8;
}

.authors .wrapAuthors .author p.desc{
    color:white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}