.download .wrapDownload{
    width: 70%;
    height: 60vh;
    margin:0 auto;
    border:2px solid black;
    box-shadow: 10px 10px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
}

.download .wrapButtons a{
    width:300px;
    height: 100px;
    font-size: 4.5rem;
    padding: 20px;
    border:2px solid black;
    color:white;
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
    transition: .2s;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.wrapButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.download .wrapDownload p{
    text-align: center;
    color:white;
    font-size: 5rem;
}

.download .mobile{
    background-color: rgb(17, 170, 17);
}

.download .windows{
    background-color: rgb(29, 68, 197);
}

.download a:hover{
    font-size: 3.5rem;
    opacity: .8;
}

@media screen and (max-width:1200px){
    .download .wrapDownload{
        width: 80%;
    }
    
    .download .wrapButtons a{
        width:280px;
        height: 90px;
        font-size: 4.2rem;
    }
    
    
    .download .wrapDownload p{
        color:white;
        font-size: 4.5rem;
    }
    
    .download a:hover{
        font-size: 3.2rem;
        opacity: .8;
    }
}

@media screen and (max-width:900px){
    .download .wrapDownload{
        width: 90%;
    }


    
    .download .wrapButtons a{
        width:250px;
        height: 80px;
        font-size: 3.6rem;
    }
    
    
    .download .wrapDownload p{
        color:white;
        font-size: 4.5rem;
    }
    
    .download a:hover{
        font-size: 2.3rem;
        opacity: .8;
    }
}

@media screen and (max-width:700px){

    .download .wrapButtons a{
        margin-top: 20px;
    }
    
    .wrapButtons{
        flex-direction: column;
    }
    
    .download .wrapDownload p{
        margin-bottom: -20px;
    }
    
}

@media screen and (max-width:500px){
    .download .wrapButtons a{
        width:280px;
        height: 80px;
        font-size: 3.6rem;
        margin-top: 20px;
    }
    
    
    .download .wrapDownload p{
        color:white;
        font-size: 4.5rem;
    }
    
    .download a:hover{
        font-size: 2.3rem;
        opacity: .8;
    }
}

@media screen and (max-width:370px){
    .download .wrapButtons a{
        width:280px;
        height: 80px;
        font-size: 3.6rem;
        margin-top: 20px;
    }
    
    .download .wrapDownload p{
        color:white;
        font-size: 4.5rem;
    }
    
    .download a:hover{
        font-size: 2.3rem;
        opacity: .8;
    }
}

@media screen and (max-width:330px){

    .download .wrapButtons a{
        width:260px;
        height: 60px;
        font-size: 3rem;
        margin-top: 20px;
    }
    
    .download .wrapDownload p{
        color:white;
        font-size: 4rem;
    }
    
    .download button:hover{
        font-size: 2.3rem;
        opacity: .8;
    }
}



@media screen and (max-height:400px){
    .wrapDownload .wrapButtons{
        flex-direction: row;
    }
}
