div.wrapLanguage{
    position: fixed;
    top:5%;
    left: 5%;
    z-index: 5;
}

div.wrapLanguage img{
    width:40px;
    margin-left: 20px;
    transition: .2s;
}

div.wrapLanguage img:hover{
    opacity: .5;
}

@media screen and (max-width:1200px){
    
    div.wrapLanguage img{
        width:35px;
    }
}

@media screen and (max-width:900px){
    div.wrapLanguage img{
        width:30px;
    }
}

@media screen and (max-width:700px){
    div.wrapLanguage{
        top:3%;
        left: 3%;
    }
    div.wrapLanguage img{
        width:25px;
    }

    
}


@media screen and (max-width:500px){
    div.wrapLanguage{
        top:3%;
        left: 3%;
    }
    div.wrapLanguage img{
        width:25px;
    }

}

@media screen and (max-width:370px){
    div.wrapLanguage{
        top:2%;
        left: 2%;
    }
    div.wrapLanguage img{
        width:20px;
    }

}

