.promoEn .wrapPromoEn{
    width: 70%;
    height: 60vh;
    margin:0 auto;
    border:2px solid black;
    box-shadow: 10px 10px 5px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
}

.promoEn h2{
    font-size:7rem;
    color:white;
    text-align: center;
}

@media screen and (max-width:900px) {
    .promoEn .wrapPromoEn {
        width: 90%;
    }

    .promoEn h2 {
        font-size: 5rem;
    }
}

@media screen and (max-width:700px) {

    .promoEn h2 {
        font-size: 4rem;
    }
}

@media screen and (max-width:500px) {

    .promoEn h2 {
        font-size: 3rem;
    }
}